.footerComp {
  margin-top: -40px;

  &__background {
    width: 100%!important;
    height: 800px;
    background-image: url("../../img/fon-block-3.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, .6);
    }

    &__desc {

      h1 {
        font-size: 74px;
        line-height: 85px;
        color: white;
        position: relative;
      }

      h4 {
        font-size: 46px;
        margin-top: 30px;
        color: white;
        position: relative;
      }

      p {
        font-size: 35px;
        margin-top: 30px;
        color: white;
        position: relative;
      }
    }

  }

  &__contacts {
    width: 100%;
    min-height: 100px;
    background-color: #323232;
    display: flex;
    //flex-direction: column;
    align-items: center;

    /*&_map {
      max-width: 70%;
      width: 100%;
      border: none;
      height: 199px;
    }*/

    &__desc {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
      }

      a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: #c3474a;
        cursor: pointer;
      }

      p {
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
      }

      &__address {

        p {
          font-size: 20px;
          font-weight: 500;
          color: #c3474a;
          cursor: pointer;
        }

        address {

          a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;

            &:hover {
              color: #c3474a;
            }
          }
        }
      }

      &__inn {
        p:first-child {
          font-size: 20px;
          font-weight: 500;
          color: #c3474a;
          cursor: pointer;
        }

        p:last-child {
          font-size: 16px;
          font-weight: 700;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }

  &__menu {
    background-color: black;

    &__list {
      display: flex;
      gap: 15px;
      justify-content: space-between;
      flex-wrap: wrap;

      &__desc {
        margin: 40px 0 20px 0;

        p {
          font-size: 22px;
          font-weight: 500;
          color: #c3474a;
          margin-bottom: 20px;
        }

        li {
          font-size: 16px;
          //font-weight: 500;
          color: white;
          list-style-type: none;
          margin-top: 10px;
          cursor: pointer;

          &:hover {
            color: #c3474a;
          }
        }
      }
    }

    &__info {
      border-top: 1px solid #7a7a7a;

      &__desc {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0;

        &__logo {
          height: 40px;
        }

        p {
          color: #7a7a7a;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;

          &:hover {
            color: #c3474a;
          }
        }

        &__icons {

          img {
            margin-left: 10px;
            cursor: pointer;
            border-radius: 50%;

            &:hover {
              box-shadow: 2px 3px 9px 0 #dd8183;
            }
          }
        }

        &__icons {
          width: 15%;

          svg {
            width: 22px;
            height: 22px;
            cursor: pointer;
            margin-left: 7px;
            margin-top: 5px;

            &:hover {
              transition: .5s;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}