* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__info {
    display: flex;
    align-items: center;
  }

  &__logo {
    img:last-child {
      margin: 0 20px;
    }
  }

  &__desc {
    max-width: 200px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 19px;
    margin-bottom: 10px;
  }

  &__menu {

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      margin-right: 10px;

      &:hover {
        color: #c3474a;
      }
    }

    img  {
      margin-bottom: -8px;
    }
  }

  &__button {
    margin-top: 8px;
  }
}

