.modal_btn {
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500 !important;
  font-size: 19px;
  border: 1px solid #c3474a;
  cursor: pointer;
}

.modal {
  padding: 10px 40px 40px !important;
  max-width: 760px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.miniModal {
  max-width: 510px!important;
}